*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #ece3d4; */
  background-image: url(./image/arkaplan.jpg);
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
 
}

.container {
  margin: 50px 5%;
  border-radius: 30px;
  background-color: #EEECEC;
  box-shadow: 2px 2px 50px rgba(13, 13, 13, 1);
}
.logo {
  width: 7rem;
  height: 7rem;
  transition: transform 0.6s ease;
  background-color: #eeecec;
  border-top-left-radius: 1px;
  /* border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  /* box-shadow: 0px 0px 4px rgba(13, 13, 13, 1); */
  /* margin-right: 20px; */
}
.logo:hover {
  transform: scale(1.5);
}
.header {
  background-color:#FE8D6D;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  border-top-right-radius:10px ;
  border-top-left-radius: 10px;
  border-bottom: 2px solid #a63f03;
}
#kategori {
  width: 275px;
  height: 40px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #d9d9d9;
  /* border-color: #c3c3c3; */
  border-radius: 10px;
  font-family: "Bellota", cursive;
  font-weight: 26px;
  font-style: normal;
  font-size: 18px;
    border: 1px solid #a63f03;
}
/* .connection{
  border: 2px solid #a63f03;
} */
.search {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* row-gap: 10px; */
  justify-content: space-between;
  /* align-items:center; */
  width: 280px;
  height: 40px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 30px;
  background-color: #d9d9d9;
  border-style: none;
  border-radius: 5px;
  border: 1px solid #a63f03;
  /* padding-left: 10px; */
}
.search input {
  background-color: #d9d9d9;
  border: none;
  margin-left: 30px;
}
.search img {
  position: absolute;
  top: 10px;
  left: 245px;
}
.kullanici {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}
.tel {
  font-weight: 500;
  font-size: 16px;
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
}
.iletisim {
  font-size: 15px;
  font-family: "Judson", serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
}

.kullanici {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.kullanici img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-right: 15px;
}
.header2 {
  /* width: 100rem; */
  height: 90px;
  display: flex;
  flex: auto;
  gap:20px;
  justify-content:center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 10px;
  cursor: pointer;
  /* margin: 5px; */
  text-align: center;
  border-bottom: 2px solid #a63f03;
  background-color: #FEC6B5;  
}
.buton {

  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  position:relative; 
  border: 1px solid #FE8D6D ;
  border-radius: 25px;
  padding: 10px 25px;
  background-color: #FE8D6D;
  color: black;
  text-decoration: none;
}

.categorySection {
  /* width: 90%; */
  /* height:800px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-color: #F4E2DE;
  border-radius: 10px;
  /* box-shadow: 0px 0px 30px; */
  position: relative;
}

.anaresimler {
  display: flex;
  flex-wrap: wrap; /* Resimler alt satıra geçebilir */
  justify-content: center; /* Yatayda ortalar */
  align-items: center; /* Dikeyde ortalar */
  gap: 30px;
}
.anaresimler img {
  width: 100%; /* Resimlerin genişliğini sabit tutar */
  height: 400px; /* Resimlerin yüksekliğini sabit tutar */
  object-fit: cover; /* Resimler kutuya tam sığacak şekilde kırpılır */
  border-radius: 10px;
  top: 20px;
  
}
/* width: 290px;
  height: 280px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-radius: 10px; */
/* position:relative; */
/* top: 20px;
  bottom: 20px;
  right: 20px;
  /* gap: 20px; */
*/
  /* padding: 1rem;
  margin: 2rem; */

.resim {
  width: 200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 0;
  left: 0;
}
.resim img {
  width: 100%;
  transition: transform 0.3s ease, z-index 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resim img:hover {
  transform: scale(1.2); /* Resmi büyütme */
  z-index: 10; /* Resmi öne alma */
  
}
.kargo {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FEC6B5;
}
.kargo span {
  color: red;
 
}
